@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&family=Share+Tech&display=swap');

.gamebackground {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

@media(max-width: 900px) {
    .gamebackground {
        width: 100%;
    }
}

.square {
    height: 80px;
    width: 80px;
    background-color: #f59402;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.square span {
    font-size: 54px;
    font-family: "Permanent Marker", cursive;
}


.gamebg {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#ff8a00, #e52e71);
    height: 100dvh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mainProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 50px;
}

.profileOutline {
    padding: 5px;
    margin: 5px;
    border: 2px solid #f0efed;
    border-radius: 5px;
}

.profileOnline {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    color: #fff;

}

.profileOnline img {
    height: 35px;
    width: 35px;
    margin-bottom: 4px;
    border: 1px solid #f0efed;
    border-radius: 50%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.square-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    width: 250px;
    gap: 2px;
}

.not-allowed {
    cursor: not-allowed !important;
}

.backbtn {
    position: absolute;
    top: 4px;
    left: 6px;
    border: none;
    border-radius: 50%;
    background-color: #e52e71;
    margin: 10px;
    cursor: pointer;
    outline: none;
}

.backbtn img {
    height: 20px;
    width: 20px;
}

.prizetop {
    height: 55px;
    width: 80px;
    border-bottom: 2px solid #f7d528;
    border-left: 2px solid #f7d528;
    border-right: 2px solid #f7d528;
    padding: 0 25px 0 25px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #e52e71;
    color: #fff;
    position: relative;
}

.prizetop h1 {
    position: absolute;
    top: 0;
    left: 40px;
    padding-top: 2px;
    font-size: 12px;
    font-family: "Permanent Marker", cursive;
}

.prizetop img {
    position: absolute;
    left: 5px;
    top: 4px;
    height: 40px;
    width: 40px;

}

.pwrapper span {
    position: absolute;
    top: 30px;
    left: 60px;
    font-weight: bold;
    font-size: 14px;
}

.pwrapper img {
    position: absolute;
    top: 32px;
    left: 48px;
    height: 11px;
    width: 11px;

}

.blackbg {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.33;
    position: absolute;
}

.popup {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup button {
    height: 35px;
    width: 80px;
    border: 1px solid #f7d528;
    outline: none;
    background-color: #e52e71;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.display-none {
    display: none;
}

.winner {
    font-size: 16px;
}

.O-won {
    color: #e52e71;

}

.X-won {
    color: #e52e71;
}