body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 14px;
    padding-bottom: 70px;
    overflow-x: hidden;
    user-select: none;
}

.bottommenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: hidden;
    background-color: #f5f5f5;
    cursor: pointer;
    align-items: center;
    z-index: 1;

}

.linkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.linkit img {
    height: 25px;
    width: 25px;

}

.mainui {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;

}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
    font-weight: bold;

}

.header .title {
    position: absolute;
    left: 10px;
    top: 17px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

}

.header .wallet {
    position: absolute;
    right: 10px;
    top: 15px;
    box-sizing: border-box;
    min-width: 65px;
    height: 26px;
    color: #fff;
    font-size: 14px;
    background-color: #7c0782;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

.wallet img {
    height: 12px;
    width: 12px;
}

.infocard {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px solid #f5f5f5;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;

}

.profilecard {
    border: none;
    height: auto;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.profilecard img {
    height: 50px;
    width: 50px;
    border: 2px solid #ccfce3;
    margin: 10px;
    align-items: center;
    border-radius: 50%;
}

.profilecard h1 {
    text-align: left;
}

.logout {
    margin: 10px 10px;
    width: 90%;
    height: 40px;
    background-color: #7c0782;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.profilename {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.profilename span {
    font-weight: bold;
}

.profilename button {
    margin-top: 10px;
    width: 222px;
    height: 30px;
    padding: 6px;
    border: 1px solid #7c0782;
    border-radius: 5px;
    color: #000;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
}

input {
    width: 200px;
    height: 30px;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 5px;
    outline: none;
    border: 1px solid #e1e3e1;
}

input:hover {
    border: 1px solid #7c0782;
}

.depositcash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    align-items: center;

}

.depositcash h1 {
    padding-left: 20px;
    font-size: 13px;
    color: gray;
}

.depositcash h2 {
    padding-left: 20px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}


.depositcash button {
    border: none;
    padding: 10px;
    height: 35px;
    width: 120px;
    background-color: #f5dd07;
    color: #5d086e;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
}

.withdrawcash {
    width: 90%;
    margin: 10px;
    padding: 10px;
    background-color: #c507f5;
    border-radius: 4px;
    color: #fff;
}

.withdrawcash img {
    height: 15px;
    width: 15px;
}

.withdrawcash h1 {
    font-size: 16px;
}

.withdrawcash h2 {
    font-size: 18px;
    color: #f5dd07;
    font-weight: bold;

}

.withdrawcash button {
    border: none;
    padding: 10px;
    width: 40%;
    background-color: #f5dd07;
    color: #000;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

h1 {
    font-size: 14px;
}

.upicard {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 55px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: #d74dfa;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.upicard span {
    font-size: 14px;
    font-weight: bold;

}

.upicard img {
    height: 60px;
    width: 60px;
    padding-left: 20px;
}

.upibox {
    padding-left: 10px;
}

.withdrawform {

    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    align-items: center;

}

.withdrawform h1 {
    font-size: 14px;
    color: #7c0782;
}

.withdrawform .Wbtn {
    margin-top: 10px;
    width: 230px;
    height: 40px;
    background-color: #7c0782;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    outline: none;
}

.withdrawform .Wbtn.active {
    background-color: #808080;
    cursor: not-allowed;
    opacity: 0.6;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 900px) {
    .mainui {
        width: 100%;
    }
}

.withdrawform p {
    color: grey;
    padding: 5px;
}

.tictaccard {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f5dd07;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    position: relative;

}

.tictaccard::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3) 50%, transparent);
    transform: skewX(-20deg);
    animation: shine 2.5s infinite linear;
    pointer-events: none;
}

@keyframes shine {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

.tictaccard img {
    height: 140px;
    width: 141px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tictaccard span {
    text-align: center;
    font-weight: bold;
    padding: 0 11px;

}

.gamecontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 5px;
}

.login h1 {
    color: #7c0782;
    font-size: 14px;
    text-align: center;
}

.login button {
    margin-top: 10px;
    width: 90%;
    height: 40px;
    font-weight: bold;
    background-color: #7c0782;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    outline: none;


}

.login p {
    text-align: center;
}

.login span {
    margin-top: 5px;
}

.login .loginlink {
    text-decoration: none;
}

.battlecard {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.battlecard .topdetails {
    background-color: #f5f5f5;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.battlecard.topdetails span {
    font-size: 9px;

}

.BattleAmt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AmtColumn span {
    font-weight: bold;
}

.AmtColumn img {
    height: 18px;
    width: 24px;
}

.playBtn {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    background-color: #7c0782;
    border-radius: 25px;
    color: #fff;
    padding: 0 15px 0 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.playBtn img {
    height: 12px;
    width: 12px;
}

.playBtn.active {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #808080;
}

.playBtn span {
    padding: 2px;
}

.practiceBtn {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: #f5dd07;
    border-radius: 25px;
    color: #7c0782;
    padding: 0 15px 0 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.practiceBtn img {
    height: 12px;
    width: 12px;
}

.practiceBtn.active {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #808080;
    color: #fff
}

.practiceBtn span {
    padding: 2px;
}

.inputdemo {
    display: flex;
    flex-direction: row;
}

.amtdetails {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.amtdetails img {
    height: 18px;
    width: 24px;
}

.AmtColumn {
    margin: 10px 10px;
    text-align: center;
}

.topdetails img {
    height: 10px;
    width: 10px;
    margin-right: 2px;
}

.topdetails {
    font-size: 9px;
    align-items: center;
}

.otpcard {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otpcard h1 {
    color: #02b555;
}

.otpcard button {
    height: 35px;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #02b555;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.recaptcha {
    position: absolute;
    left: 12px;
    display: flex;
    flex-direction: column;
}

.emailSpace {
    height: auto;
    width: 90%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border-radius: 15px;

}

.emailSpace span {
    padding: 6px;

}

.DepositeCash {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    align-items: center;

}

.DepositeCash img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

.DepositeCash span {
    color: #fc0324;
    font-weight: bold;
    padding: 10px;
}

.DepositeCash {
    padding: 10px;
}

.WhatsAppC {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px;
    border: 1px solid #30bd06;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #000;
}

.WhatsAppC img {
    height: 40px;
    width: 50px;
    padding: 10px;
}

.howtoplay {
    height: 30px;
    width: 170px;
    border: 1px solid #7c0782;
    border-radius: 6px;
    margin: 10px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: #000;
    outline: none;
    cursor: pointer;
}